body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} 

html, :root {
  overflow: hidden;
}

#root {
  display: grid;
  grid-template-columns: 45% 55% ;
  position: relative;
  min-width: 100vw;
  min-height: 100vh;
  overflow: hidden;
}

.ChartBox {
  background-color: #282c34;
  min-width: 33.33%;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  color: white;
}

.Chart {
  display: flex;
  height: 33%;
  width: 100%;
}

.ChartTrend {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 12rem;
}

.TrendIcon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}

.StockButtonGroup {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  height: 20%;
}

.positive {
  background-color: green;
}
.negative {
  background-color: red;
}